 <main class="container ">
     <br>
     <br>
     <br>
    <div class="itemList row">
        <div class="shop-grid-single col-sm-4" >
               
          <div class="shop-item-single -card">
      <header class="-cardHead clearfix">
          <div class="col-xs-6 authorInfo">
              <img src="img/qwe.jpg" alt="author" class="img-circle"> <a href="#"> lorem text</a>
          </div>
          <div class="col-xs-6 -options text-right">
              <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
          </div>
      </header>
      <div class="featImg text-center">
          <img src="img/model1.jpg" alt="" class="img-responsive">
      </div>
      
      
  </div>
  <hgroup><h3 class="txtChunk pd10" ><span>Lorem ipsum dolor sit amet, consectetur</span></h3>
  <p class="pd10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat earum mollitia sit sequi aperiam qui esse voluptatibus nemo. Eos, repellendus a repudiandae beatae provident, voluptatibus ratione suscipit corporis unde quia!</p>
  </hgroup>
        </div>
        <div class="col-sm-8 item-desc">
         <section class="associate-item row">
          <div class="pd10 col-sm-4">
            <div class="shop-item-single -card">
             <a href="#" class="p-A -heart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
              <div class="featImg text-center col-xs-12 ">
                  <img src="img/model1.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-xs-12 pd10 text-center txtChunk"> <b>Lorem ipsum dolor sit ewer wer</b></div>
              <div class="col-xs-12 pd10 text-center"> <b>$45</b>&nbsp;&nbsp;<strike>$200</strike></div>
      
      </div>
          </div>
          <div class="pd10 col-sm-4">
            <div class="shop-item-single -card">
              <a href="#" class="p-A -heart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
              <div class="featImg text-center col-xs-12 ">
                  <img src="img/model2.jpeg" alt="" class="img-responsive">
              </div>
              <div class="col-xs-12 pd10 text-center"> <b>Lorem ipsum dolor sit</b></div>
              <div class="col-xs-12 pd10 text-center"> <b>$45</b>&nbsp;&nbsp;<strike>$200</strike></div>
      
      </div>
          </div>
          <div class="pd10 col-sm-4">
            <div class="shop-item-single -card">
              <a href="#" class="p-A -heart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
              <div class="featImg text-center col-xs-12 ">
                  <img src="img/model3.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-xs-12 pd10 text-center"> <b>Lorem ipsum dolor sit</b></div>
              <div class="col-xs-12 pd10 text-center"> <b>$45</b>&nbsp;&nbsp;<strike>$200</strike></div>
      
      </div>
          </div>
          <div class="pd10 col-sm-4">
            <div class="shop-item-single -card">
              <a href="#" class="p-A -heart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
              <div class="featImg text-center col-xs-12 ">
                  <img src="img/model1.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-xs-12 pd10 text-center"> <b>Lorem ipsum dolor sit</b></div>
              <div class="col-xs-12 pd10 text-center"> <b>$45</b>&nbsp;&nbsp;<strike>$200</strike></div>
      
      </div>
          </div>
          
          <div class="pd10 col-sm-4">
            <div class="shop-item-single -card">
              <a href="#" class="p-A -heart"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
              <div class="featImg text-center col-xs-12 ">
                  <img src="img/model1.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-xs-12 pd10 text-center"> <b>Lorem ipsum dolor sit</b></div>
              <div class="col-xs-12 pd10 text-center"> <b>$45</b>&nbsp;&nbsp;<strike>$200</strike></div>
      
      </div>
          </div>
          <div class="pd10 col-sm-4">
            <div class="shop-item-single -card">
              <div class="featImg text-center col-xs-12 ">
                  <img src="img/model1.jpg" alt="" class="img-responsive">
              </div>
              <div class="col-xs-12 pd10 text-center"> <b>Lorem ipsum dolor sit</b></div>
              <div class="col-xs-12 pd10 text-center"> <b>$45</b>&nbsp;&nbsp;<strike>$200</strike></div>
      
      </div>
          </div>
      </section>
        </div>
         
     </div>
     <hr/>
     
     <section class="prodInfo row">
        <h3 class="col-xs-12">Product Description</h3>
        <article class="col-xs-12 text-justify">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iste veritatis at. Iste inventore est aliquid quod laborum earum qui vitae non, nulla debitis ipsam laboriosam! Totam minima, blanditiis consequuntur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iste veritatis at. Iste inventore est aliquid quod laborum earum qui vitae non, nulla debitis ipsam laboriosam! Totam minima, blanditiis consequuntur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iste veritatis at. Iste inventore est aliquid quod laborum earum qui vitae non, nulla debitis ipsam laboriosam! Totam minima, blanditiis consequuntur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iste veritatis at. Iste inventore est aliquid quod laborum earum qui vitae non, nulla debitis ipsam laboriosam! Totam minima, blanditiis consequuntur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iste veritatis at. Iste inventore est aliquid quod laborum earum qui vitae non, nulla debitis ipsam laboriosam! Totam minima, blanditiis consequuntur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque iste veritatis at. Iste inventore est aliquid quod laborum earum qui vitae non, nulla debitis ipsam laboriosam! Totam minima, blanditiis consequuntur!</p>
        </article>
     </section>
     <hr/>
     <section class="row comntBox">
        <h3 class="col-xs-12 latestCmnt text-capitalize">
            Add your comments
        </h3>
        <article class="col-sm-6 form-horizontal">
         <form>
           
             <p class="col-sm-12">
             <input type="text" placeholder="Name" id="" class="form-control"/>
             </p>
             <p class="col-sm-12">
             <input type="email" placeholder="Email" id="" class="form-control"/>
             </p>
             <p class="col-sm-12">
             <textarea class="form-control" id="" cols="30" rows="5" placeholder="Message"></textarea>
             </p>
             <p class="col-sm-12">
             <button class="btn btn-success">Submit</button>
             </p>
         </form>
         </article>
     </section>
     <hr/>
     <section class="-comment row">
        <h3 class="col-xs-12 latestCmnt">
            Rescent comments
        </h3>
        <article class="col-xs-12 pd10">
         <div class="media">
         <div class="media-left">
         <a href="#"> <img alt="64x64" class="media-object img-circle" data-src="holder.js/64x64" src="img/qwe.jpg" data-holder-rendered="true" > </a>
          </div> <div class="media-body"> <h4 class="media-heading">commentor 1</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
         </div>
         
          <div class="media">
         <div class="media-left">
         <a href="#"> <img alt="64x64" class="media-object img-circle" data-src="holder.js/64x64" src="img/qwe.jpg" data-holder-rendered="true" > </a>
          </div> <div class="media-body"> <h4 class="media-heading">commentor 2</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
         </div>
         
          <div class="media">
         <div class="media-left">
         <a href="#"> <img alt="64x64" class="media-object img-circle" data-src="holder.js/64x64" src="img/qwe.jpg" data-holder-rendered="true" > </a>
          </div> <div class="media-body"> <h4 class="media-heading">commentor 3</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
         </div>
         </article>
         
     </section>
     <hr/>
     <section class="author row">
         <div class="media">
         <div class="media-left">
         <a href="#"> <img alt="64x64" class="media-object img-circle" data-src="holder.js/64x64" src="img/qwe.jpg" data-holder-rendered="true" > </a>
          </div> <div class="media-body"> <h3 class="media-heading">Author</h3> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </div>
         </div>
     </section>
     <br>
     
  </main>