
  
  <div class="container -blog" data-ng-controller="BlogController as $ctrl">
    <br/>
    <br/>
    <br/>
      <div class="itemList row">
          <div class="shop-grid" >
          
          
  <div class="shop-item -card" data-ng-repeat="$posts in $ctrl.blogPosts">
      <header class="-cardHead clearfix">
          <div class="col-xs-6 authorInfo">
              <img ng-src="img/blog/author.jpg" alt="author" class="img-circle" width="40" height="40"> <a href="#"> </a>
          </div>
          <div class="col-xs-6 -options text-right">
              <span class="fa fa-heart" aria-hidden="true"></span>
              <span class="fa fa-comment" aria-hidden="true"></span>
              <span class="fa fa-ellipsis-h" aria-hidden="true"></span>
          </div>
      </header>
      <div class="featImg text-center">
          <img ng-src="{{$posts.postImage.url}}" alt="" class="img-responsive">
      </div>
      <footer class="related-items clear">
         
          <div class="col-xs-3"><img src="img/blog/1.jpg"  class="img-responsive"></div>
          <div class="col-xs-3"><img src="img/blog/2.jpg"  class="img-responsive"></div>
          <div class="col-xs-3"><img src="img/blog/3.jpg"  class="img-responsive"></div>
          <div class="col-xs-3"><img src="img/blog/4.jpg"  class="img-responsive"></div>
      </footer>
  </div>


</div>
         
      </div>
  </div>
 
  
